{{-
  $err := eval.Env values.templates.manifest_header
    | os.WriteFile (printf "build/manifests/%s.yaml" env.APP)
-}}

{{- if $err -}}
  {{- fail (printf "failed to write manifest %v" $err) -}}
{{- end -}}

dukkha render --chdir build \
  build/manifests/{{- env.APP -}}.yaml \
  -o plugins/{{- trimPrefix "kubectl-" env.APP -}}.yaml
