{{-
  $_ := eval.Env values.templates.manifest_header
    | os.WriteFile (printf "build/manifests/%s.yaml" env.APP)
-}}

dukkha render build/manifests/{{- env.APP -}}.yaml -o plugins/{{- env.APP -}}.yaml
